body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    
    
}

header{
    background-color: #715F5F;
    padding: 20px 0px;
    margin: auto;
    text-align: center;
    font-size: 20px;
    border-bottom: 4px solid black;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);

}

h2{
    font-size: 35px;
    border-bottom: 4px solid black;
    padding: 20px;
    
}
